<!-- component -->
<main class="w-full h-screen min-w-[600px] flex justify-center items-center">
  <div class="flex flex-col items-center justify-center relative h-full w-full">
    <div class="screen-base h-full bg-stone-200"></div>
    <div class="screen-sides"></div>
    <section
      id="screen"
      class="border-x-8 border-y-4 border-slate-600/80 rounded relative w-[550px] h-[450px] mx-auto flex justify-center items-center text-white"
    >
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>

      <h1 class="absolute top-10 text-3xl text-center font-bold">
        {{ title }}
      </h1>

      <article
        class="flex flex-col gap-5 absolute -left-[75px] text-center text-xl mt-16"
      >
        @for (leftOption of optionList; track $index) { @if ($index < 4) {
        <left-option-withdraw
          [value]="leftOption"
          (state)="changeState($event)"
          [enabled]="buttonState[$index]"
        />
        } }
      </article>
      @if (cashierState.option == "dynamic") {
      <article class="pt-9 px-1 w-1/2 text-center">
        <div class="flex items-center border-b-2 border-yellow-500 py-2">
          <input
            class="text-center appearance-none bg-transparent w-full text-3xl py-1 px-2 leading-tight focus:outline-none"
            type="number"
            min="10000"
            step="10000"
            max="2700000"
            placeholder=" Ingrese monto"
            (change)="changeDynamic($event)"
            (keyup.enter)="
              changeState({ option: 'confirm', value: optionList[7].value })
            "
          />
        </div>
        <div
          class="text-sm block w-full text-gray-400 font-base text-center pt-2"
        >
          Valores validos y mayores a $10.000
          <br />
          Max. $2.700.000
        </div>
      </article>
      } @if (cashierState.option == "default") {
      <h2 class="text-3xl font-semibold border-b-4 border-white">
        ${{ cashierState.value.toLocaleString() }}
      </h2>
      } @if (cashierState.option == "waiting") {
      <img src="assets/check.gif" alt="" />
      }
      <article
        class="flex flex-col gap-5 absolute -right-[75px] text-center text-xl mt-16"
      >
        @for (rightOption of optionList; track $index) { @if ($index > 3) {
        <right-option-withdraw
          [value]="rightOption"
          (state)="changeState($event)"
          [enabled]="buttonState[$index]"
        />
        } }
      </article>
    </section>
    <bill-slot />
    @if (bills.show) {
    <app-show-bills [bills]="bills.bills" />
    }
  </div>
</main>

<router-outlet></router-outlet>
